decks

<li ng-click="nav(tierdecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>

<li ng-click="nav(tierdecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>

<li ng-click="nav(tierdecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>

<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>

<li ng-click="nav(tierdecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>

<li ng-click="nav(tierdecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Big Spell Mage</li>

<li ng-click="nav(tierdecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>

<li ng-click="nav(tierdecks[7].url)" class="strong-list-deck"><span class="mage-icon"></span>Tempo Mage</li>

<li ng-click="nav(tierdecks[8].url)" class="strong-list-deck"><span class="hunter-icon"></span>Quest Rogue</li>

<li ng-click="nav(tierdecks[9].url)" class="strong-list-deck"><span class="hunter-icon"></span>Taunt Druid</li>

<li ng-click="nav(tierdecks[10].url)" class="strong-list-deck"><span class="hunter-icon"></span>Control Priest</li>

<li ng-click="nav(tierdecks[11].url)" class="strong-list-deck"><span class="hunter-icon"></span>Mid Range Shaman</li>

<li ng-click="nav(tierdecks[12].url)" class="strong-list-deck"><span class="hunter-icon"></span>Odd Face Hunter</li>

<li ng-click="nav(tierdecks[13].url)" class="strong-list-deck"><span class="hunter-icon"></span>Rush Warrior</li>

<li ng-click="nav(tierdecks[14].url)" class="strong-list-deck"><span class="hunter-icon"></span>Miracle Rogue</li>

<li ng-click="nav(tierdecks[15].url)" class="strong-list-deck"><span class="hunter-icon"></span>Tempo Rogue</li>


