/** {
	border: 2px solid red;
}*/

/** 3 page single page styling **/

#page1 {
   position: relative;
}
#page1:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/warrior.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

#page2 {
   position: relative;
}

#page2:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/dr-boom.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

#page3 {
   position: relative;
}

#page3:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/thrall.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}


.pages {
	height: 1200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

/** Nav Styling **/

#nav {
	outline: rgba(255,255,255,.2) solid 1px;

}

#nav ul li{
	display: inline;
	font-family: 'Exo 2';
	font-size: 24px;
	text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#nav ul li:hover{
	opacity: .25;
	color: black;
}

#nav {
	font-family: 'Exo 2';
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
	z-index: 50;
}

.nav-links {
	float: right;
	padding: 0px;
	margin: 0px;
}

#menu {
	float: right;
	color: white;
	display: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#menu:hover {
	opacity: .50;
	color: black;
	cursor: pointer;
}

.nav-links li a {
	color: white;
	text-align: center;
	text-decoration: none;
}

.logo-text {
	font-family: 'Exo 2';
	float: left;
	color: white;
	font-size: 24px;
	margin: 0px;
}

/** General Content Styling **/

h1 {
	font-family: 'Exo 2';
	color: white;
	font-size: 12;
	text-shadow: 5px 5px 8px #000000;
	margin: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.about-banner {
	background: url('../images/brm-logo.jpg') no-repeat center;
	top: 30px;
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
	width: 400px;
	height: 209px;
	outline: rgba(0,0,0,.5) solid 1px;
	outline-offset: 2px;
}

.about-text {
	background-color: rgba(0,0,0,0.5);
	position: relative;
	width: 400px;
	margin: 50px auto;
	outline: rgba(0,0,0,.5) solid 1px;
	outline-offset: 2px;
}

.page-content-left {
	font-family: 'Roboto Condensed';
	font-size: 20px;
	color: white;
	position: absolute;
	display: block;
	background-color: rgba(0,0,0,0.5);
	outline: rgba(0,0,0,.5) solid 1px;
	outline-offset: 2px;
	text-align: center;
	width: 45%;
	min-height: 500px;
	top: 10%;
	left: 3%;
	z-index: 1;
}


.page-content-right {
	font-family: 'Roboto Condensed';
	font-size: 20px;
	color: white;
	position: absolute;
	display: block;
	background-color: rgba(0,0,0,0.5);
	outline: rgba(0,0,0,.5) solid 1px;
	outline-offset: 2px;
	text-align: center;
	width: 40%;
	min-height: 400px;
	top: 10%;
	right: 3%;
	z-index: 1;
}

.page-content-deck {
	font-family: 'Roboto Condensed';
	font-size: 20px;
	color: white;
	position: absolute;
	display: block;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	width: 95%;
	max-height: 80%;
	top: 15%;
	left: 2.5%;
	right: 2.5%;
	z-index: 1;
}

.header {
	text-align: center;
}

#footer {
	border: 1px solid black;
	background-color: black;
	height: 35px;
	padding-top: 0px;
}

.footer-disclaimer {
	margin-top: 0px;
	font-family: 'Roboto Condensed';
	font-size: 11px;
	color: white;
	text-align: center;
}

.copy-text {
	font-family: 'Exo 2';
	float: left;
	color: white;
	font-size: 20px;
	margin: 0px;
}


i.right {
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
  	border: solid white;
  	border-width: 0 4px 4px 0;
  	width: 15px;
  	height: 15px;
  	padding: 3px;
  	position: absolute;
  	top: 50%;
  	right: 2.5%;
  	cursor: pointer;
  	display: none;
  }

i.left {
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
  	border: solid white;
  	border-width: 0 4px 4px 0;
  	width: 15px;
  	height: 15px;
  	padding: 3px;
  	position: absolute;
  	top: 50%;
  	left: 2.5%;
  	cursor: pointer;
  	display: none;
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.imagewrap {
	position: relative;
}

.hidden {
	display: none;
}

.background-block {
	border: 1px solid black;
	right: 5%;
	height: 1000px;
	outline: rgba(255,255,255,.2) solid 1px;
	outline-offset : -2px;
	position: absolute;
	background-color: rgba(0,0,0,0.3);
	max-width: 90%;
	left: 5%;
}

/** Tier Sections and Buttons **/

.tier-button {
	background-color: rgba(255,255,255,.2);
	background-image: url("../images/hstone.png");
	width: 180px;
	height: 180px;
	border: 3px solid black;
	outline: rgba(255,255,255,.2) solid 1px;
	outline-offset: -2px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.tier-button:hover {
	opacity: .50;
	color: black;
	cursor: pointer;
}

.tier-button h1 {
	font-size: 12;
	text-align: center;
}

#tier1 {
	position: absolute;
	top: 30px;
	left: 5%;
}

#tier2 {
	position: absolute;
	top: 300px;
	left: 5%;
}

#tier3 {
	position: absolute;
	top: 30px;
	right: 5%;
}

#tier4 {
	position: absolute;
	top: 300px;
	right: 5%;
}

button {
	font-family: 'Roboto Condensed';
	font-size: 20px;
	background-color: inherit;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
     /* black */
    color: white;
}

/** decklist stuff **/

.quantity {
	float: left;
	border: 1px solid #000;
}

.archetype {
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Roboto Condensed';
	font-size: 26px;
	color: white;
	text-shadow: 5px 5px 8px #000000
}

.decklist {
	list-style: none;
	min-width: 100px;
	padding: 0;


}

.decklist li {
	text-align: center;
	background-color: rgba(44,53,57,0.3);
	border: 1px solid black;
	width: 100%;
}

.decklists {
	position: absolute;
	top: 7.5%;
	right: 20%;
	font-family: 'Roboto Condensed';
	font-size: 26px;
	color: white;
	text-shadow: 5px 5px 8px #000000
}

.tier-deck {
	left: 0%;
	right: 0%;
	width: 100%;
	height: 125px;
	border: 1px solid black;
	transition: 1s;
}


/* tier deck logos */

.tier-deck.priest {
	background: linear-gradient(to right, rgba(255,173,47,0.60), rgba(168,255,255,0.40)), url(../images/anduin-banner.jpg) no-repeat left;
}

.tier-deck.paladin {
	background: linear-gradient(to right, rgba(255,173,47,0.60), rgba(168,255,255,0.40)), url(../images/uther-banner.jpg) no-repeat left;
}

.tier-deck.rogue {
	background: linear-gradient(to right, rgba(255,173,47,0.60), rgba(168,255,255,0.40)), url(../images/valeera-banner.jpg) no-repeat left;
}

.tier-deck.shaman {
	background: linear-gradient(to right, rgba(255,173,47,0.60), rgba(168,255,255,0.40)), url(../images/thrall-banner.jpg) no-repeat left;
}

.tier-deck.warrior {
	background: linear-gradient(to right, rgba(255,173,47,0.60), rgba(168,255,255,0.40)), url(../images/garrosh-banner.jpg) no-repeat left;
}

.tier-deck.warlock {
	background: linear-gradient(to right, rgba(255,173,47,0.60), rgba(168,255,255,0.40)), url(../images/guldan-banner.jpg) no-repeat left;
}

.tier-deck.hunter {
	background: linear-gradient(to right, rgba(255,173,47,0.60), rgba(168,255,255,0.40)), url(../images/rexxar-banner.jpg) no-repeat left;
}

.tier-deck.mage {
	background: linear-gradient(to right, rgba(255,173,47,0.60), rgba(168,255,255,0.40)), url(../images/jaina-banner.jpg) no-repeat left;
}

.tier-deck.druid {
	background: linear-gradient(to right, rgba(255,173,47,0.60), rgba(168,255,255,0.40)), url(../images/malfurion-banner.jpg) no-repeat left;
}

.tier-deck:hover {
	transition: 1s;
	background-position: right;
}

.arch-text {
	font-size: 32px;
	color: black;
	text-shadow: 5px 5px 8px #0000ff;
	font-family: 'Roboto Condensed';
	text-align: left;
}


/*Media Query Boilerplate*/
/* note: the js class is added dynamically by navappend in maincontroller.js ; */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 0px)
and (max-width : 480px) {
/* Styles */
.background-block {
	max-width: 100%;
	left: 0%;
	right: 0%;
}

.page-content-left {
	left:0;
	right: 0;
	top: 0;
	width: 100%;
	height: 50%;
	margin-left: 0;
}

.page-content-right {
	top: 50%;
	left: 0;
	right: 0;
	width: 100%;
	height: 50%;
	margin-left: 0;
}

.js {
	position: relative;
	width: 100%;
}

#menu {
	display: initial;
	font-size: 1.35em;
	position: absolute;
	top: 0px;
	right: 0px;
}

ul {
	width: 100%;
	list-style: none;
}

li {
	width: 100%;
	border-right: none;
	color: white;
}

#nav ul li {
	text-align: center;
	display: block;
	position: relative;
	width: 100%;
}

.nav-links {
	display: none;
}

.nav-links.ng-hide { /* using reverse to "trick" angular since .navlinks is hidden at this viewport, once ng-hide is toggled it applies the ng-hide class and the hidden menu is shown */
	display: block !important;
}

}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */


}


 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
/*.js {
	position: relative;
	width: 100%;
}

#menu {
	display: initial;
	font-size: 1.35em;
}

ul {
	width: 100%;
	list-style: none;
}

li {
	width: 100%;
	border-right: none;
}*/

}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 0px)
and (max-width : 1025px) {
/* Styles */
.tier-button {
	left: 0%;
	right: 0%;
	width: 100%;
	height: 125px;
	border: none;
}

#tier1 {
	left: 0%;
	top: 0%;
	position: absolute;
}

#tier2 {
	left: 0%;
	top: 125px;
	position: absolute;
}

#tier3 {
	top: 250px;
	position: absolute;
}

#tier4 {
	top: 375px;
	position: absolute;
	float: right;
}
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}