<h1 class="header">Tier 3</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[0].url)">Back</h2>
 	<div class="page-content page-content-left">
 		<p class="archetype">Archetype</p>
 			<div class="tier-deck rogue" ng-click="nav(tierDecks[8].url)"><p class="arch-text">Miracle Rogue</p></div>
				<div class="tier-deck druid" ng-click="nav(tierDecks[9].url)"><p class="arch-text">Malygos Druid</p></div>
					<div class="tier-deck shaman" ng-click="nav(tierDecks[10].url)"><p class="arch-text">Even Shaman</p></div>
					<div class="tier-deck priest" ng-click="nav(tierDecks[11].url)"><p class="arch-text">Control Priest</p></div>
		</div>
	<div class="page-content page-content-right">
		<p class="archetype">About</p>
			<div class="tier-about-text">
				<p class="tier-about-p">Tier 3 consists of strong decks in the meta.  Typically, climbing with these decks requires a more experienced player, as the room for error drastically decreases here.  These decks are typically played based on your "local meta."  If you are coming across a lot of decks within your ranking area that these decks hard counter, it may be time to try one.</p>
			<!-- <div class="tier-deck warlock"></div> -->
				<p class="tier-about-p">Decks to beat: Miracle Rogue, Malygos Druid</p>
</div>