<h1 class="header">Tier 2</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[0].url)">Back</h2>
 	<div class="page-content-left">
 		<p class="archetype">Archetype</p>
 			<div class="tier-deck paladin" ng-click="nav(tierDecks[4].url)"><p class="arch-text">Odd Paladin</p></div>
				<div class="tier-deck mage" ng-click="nav(tierDecks[5].url)"><p class="arch-text">Big Spell Mage</p></div>
						<div class="tier-deck warlock" ng-click="nav(tierDecks[6].url)"><p class="arch-text">Cubelock</p></div>
				<div class="tier-deck rogue" ng-click="nav(tierDecks[7].url)"><p class="arch-text">Odd Rogue</p></div>
		</div>
	<div class="page-content-right">
		<p class="archetype">About</p>
			<div class="tier-about-text">
				<p class="tier-about-p">Tier 2 decks are considered some of the strongest in the meta, and are runners up to tier 1 only due to current meta positioning.  With slight adjustments to the meta, these decks are capable of moving onto the first page.  Tier 2 is also capable of stealing wins off of the tier 1 decks, with only few weaknesses and </p>
			<!-- <div class="tier-deck warlock"></div> -->
				<p class="tier-about-p">Decks to beat: Cube Warlock, Big Spell Mage</p>
</div>