<h1 class="header">Tier 4</h1>
 	<div class="page-content-left">
 		<p class="archetype">Archetype</p>
 	<div class="tier-deck shaman" ng-click="nav(tierdecks[12].url)"><p class="arch-text">Token Evolve Shaman</p></div>
		<div class="tier-deck rogue" ng-click="nav(tierdecks[13].url)"><p class="arch-text">Kingsbane Rogue</p></div>
			<div class="tier-deck mage" ng-click="nav(tierdecks[14].url)"><p class="arch-text">Big Spell Mage</p></div>
					<div class="tier-deck rogue" ng-click="nav(tierdecks[15].url)"><p class="arch-text">Quest Rogue</p></div>
		</div>
	<div class="page-content-right">
		<p class="archetype">Decklists</p>
</div>