<h1 class="header">Tier 1</h1>
<div class="page-content-left">
	<p class="archetype">Archetype</p>
		<div class="tier-deck priest" ng-click="nav(tierdecks[0].url)"><p class="arch-text">Razakus</p></div>
			<div class="tier-deck rogue" ng-click="nav(tierdecks[1].url)"><p class="arch-text">Tempo Rogue</p></div>
				<div class="tier-deck druid" ng-click="nav(tierdecks[2].url)"><p class="arch-text">Big Druid</p></div>
					<div class="tier-deck warlock" ng-click="nav(tierdecks[3].url)"><p class="arch-text">Zoolock</p></div>
				</div>

	<div class="page-content-right">
		<p class="archetype">Decklists</p>
</div>

<!-- write back buttons on each of the templates to go to the previous page!!!!-->