<h1 class="header">Tier 4</h1>
 <div>
 	<p class="archetype">Archetype</p>
 		<p class="decklists">Decklists</p>
 </div>
 	<div class="page-content-left">
 	<div class="tier-deck priest" ng-click="nav(tierdecks[12].url)"><p class="arch-text">Mid Range Hunter</p></div>
		<div class="tier-deck rogue" ng-click="nav(tierdecks[13].url)"><p class="arch-text">Token Shaman</p></div>
			<div class="tier-deck druid" ng-click="nav(tierdecks[14].url)"><p class="arch-text">Control Warrior</p></div>
					<div class="tier-deck warlock" ng-click="nav(tierdecks[15].url)"><p class="arch-text">Zoolock</p></div>
		</div>
	<div class="page-content-right">
</div>