<h1 class="header">Tier 4</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[0].url)">Back</h2>
 	<div class="page-content-left">
 		<p class="archetype">Archetype</p>
 	<div class="tier-deck shaman" ng-click="nav(tierDecks[12].url)"><p class="arch-text">Shudderwock Shaman</p></div>
		<div class="tier-deck paladin" ng-click="nav(tierDecks[13].url)"><p class="arch-text">Murloc Paladin</p></div>
			<div class="tier-deck druid" ng-click="nav(tierDecks[14].url)"><p class="arch-text">Spiteful Druid</p></div>
					<div class="tier-deck mage" ng-click="nav(tierDecks[15].url)"><p class="arch-text">Tempo Mage</p></div>
		</div>
	<div class="page-content-right">
		<p class="archetype">About</p>
			<div class="tier-about-text">
				<p class="tier-about-p">Tier 4 decks are decks that are being played in the current meta, but are not having much success vs the vast majority of playable meta decks.  You should play these decks if you are highly experienced with the specific archetype, or if you want to play for fun, to learn a new deck playstyle.  It is possible for these decks to regain higher positions as the new meta settles.</p>
			<!-- <div class="tier-deck warlock"></div> -->
				<p class="tier-about-p">Decks to beat: Shudderwock Shaman, Spiteful Druid</p>
</div>