<div id="nav">
<p class="logo-text">H T L</p>
	<ul class="nav-links" ng-hide="NavShow">
		<li><a href="#page1" id="about" target="_self">About</a></li>
		<li><a href="#page2" id="meta" target="_self">Meta</a></li>
		<li><a href="#page3" id="foresight" target="_self">Meta Foresight</a></li>

	</ul>
		<div id="menu" ng-click="NavShow = !NavShow">☰</div>

</div>


<!-- Maybe create a transparent div that is at the bottom/top of the page and fade in and out when hovered for additional page nav that when clicked scrolls the page up or down-->
	<div id="page1" class="pages">
		<h1 class="header">Hearthstone Tier List</h1>
			<div class="background-block"> 
				<div class="page-content-left">
					<p ng-click="anotherAPICall()">some stuff goes here</p>
						</div> <!-- end pageContentleft -->
			<div class="page-content-right">
					<p>some stuff goes here.</p>
					</div> <!-- end pageContentright-->
				</div> <!-- end background block -->
			</div> <!-- end page1 -->
	<div id="page2" class="pages">
		<h1 class="header">Meta</h1>
			<div class="background-block">
				<div ng-include="metaPath">
				<!-- first template needs to show the tierbuttons -->
				<!-- need to call a new template when each tierbutton is clicked -->
					
				</div><!-- end div ng-controller="metatemplate" -->
			</div><!-- end background block -->
		</div>
	<div id="page3" class="pages">
		<h1 class="header">Meta Foresight</h1>
			<div class="background-block">
				<div ng-include="forePath"></div>
			</div>
		</div>
<div id="footer">
	<p class="logo-text">&copy;</p>
		</div>