<div id="nav">
<p class="logo-text">H T L</p>
	<ul class="nav-links" ng-hide="NavShow">
		<li><a href="#page1" id="about" target="_self">About</a></li>
		<li><a href="#page2" id="meta" target="_self">Meta</a></li>
		<li><a href="#page3" id="foresight" target="_self">Meta Foresight</a></li>

	</ul>
		<div id="menu" ng-click="NavShow = !NavShow">☰</div>

</div>


<!-- Maybe create a transparent div that is at the bottom/top of the page and fade in and out when hovered for additional page nav that when clicked scrolls the page up or down-->
	<div id="page1" class="pages">
		<h1 class="header">Hearthstone Tier List</h1>
			<div class="background-block"> 
				<div class="page-content-left">
					<div class="about-banner" ng-click="anotherAPICall()"></div>
						<div class="about-text-area">
								<p class="about-text"> Welcome to Hearthstone Tier List!  This website is about strictly one thing: The current "Standard" meta that exists on the Hearthstone ranked ladder.  I noticed a lot of the meta websites around the interweb are not updated regularly, thus the meta has usually shifted by the time the updates were released.  In addition, majority of the Hearthstone meta websites include other pointless fluff.  This website will be updated every Sunday with the current decks that are shaping the meta-game in Hearthstone.</p>
								<p class="about-text"> How to use this website - Click a tier in the meta section below to see where the current decks running the meta rank.  The tiers are as follows:
									<ul class="tier-text">
										<li>Tier 1 - Decks that are currently dominating the meta, these decks have very few weaknesses and are often referred to as "op".</li>
										<li>Tier 2 - Decks that have a strong foothold on the meta, and are typically refined to target tier 1 decks.  These decks also contain few weaknesses but are more exploitable than tier 1.</li>
										<li>Tier 3 - Decks that are still competitive, however, have more weaknesses than tier 1 and 2 and often struggle vs these decks.</li>
										<li>Tier 4 - Decks that can be played on ladder, and still take wins off the first 3 tiers but are not optimal if you would like to be climbing the ladder.</li>
									</ul>
							</div>
						</div> <!-- end pageContentleft -->
			<div class="page-content-right">
					<h2 class="news-updates">News/Updates</h2>
						<div class="news-updates-text">
							<h3 class="news">News</h3>
								<p class="news-text">
								Currently the post nerf meta is shaping up, but it seems to be in a state of experimentation.  For the most part the meta shifted as many had predicted, the nerfs of patches, Raza, and Cooridoor Creeper has almost completely removed the pirate package from the ladder.  Raza priest is non-existant, as the combo cannot work without the 0 cost hero power.  With Raza out of the picture it appears variants of combo decks and control decks have started to reign supreme.  This also leaves room for token decks to have a better chance on ladder.  The good news is, by the time this meta is figured out, we will be seeing another expansion shortly after to shake things up a bit.
									</p>
							<h3 class="updates">Updates</h3>
								<p class="updates-text">
								No updates yet
								</p>
						</div> <!-- end news-updates-text -->
					</div> <!-- end pageContentright-->
				</div> <!-- end background block -->
			</div> <!-- end page1 -->
	<div id="page2" class="pages">
		<h1 class="header">Meta</h1>
			<div class="background-block">
				<div ng-include="metaPath">
				<!-- first template needs to show the tierbuttons -->
				<!-- need to call a new template when each tierbutton is clicked -->
					
				</div><!-- end div ng-controller="metatemplate" -->
			</div><!-- end background block -->
		</div>
	<div id="page3" class="pages">
		<h1 class="header">Meta Foresight</h1>
			<div class="background-block">
				<div ng-include="forePath"></div>
			</div>
		</div>
<div id="footer">
	<p class="copy-text">&copy; HTL 2018</p>
		<p class="footer-disclaimer">
			Hearthstone content and materials are trademarks and copyrights of Blizzard and its licensors. All rights reserved.  <br>This site is a private site and is not affiliated with Blizzard.
			</p>
		</div>