

<div class="page-content page-content-left">
	<div class="tier-button" id="ftier1" ng-click="nav2(foresightTemplates[1].url)"><h1>Tier 1</h1></div>
		<div class="tier-button" id="ftier2" ng-click="nav2(foresightTemplates[2].url)"><h1>Tier 2</h1></div>
			<div class="tier-button" id="ftier3" ng-click="nav2(foresightTemplates[3].url)"><h1>Tier 3</h1></div>
		<div class="tier-button" id="ftier4" ng-click="nav2(foresightTemplates[4].url)"><h1>Tier 4</h1></div>
	</div>
<div class="page-content page-content-right">
	<p>This section depicts a foresight into what the meta could mold into in the coming weeks.  
		Of course, with that we can never know 100% but by looking at patterns and the way the meta starts to shift we can make logical estimations.
	this prediction is based on responses to powerhouse decks that seem to be rising to counter, speculation from credible sources, and personal knowledge of the current meta.
please check the links below for supporting information.</p>
</div>