<div class="page-content-left">
	<div class="tier-button" id="tier1" ng-click="nav2(foresighttemplates[1].url)"><h1>Tier 1</h1></div>
		<div class="tier-button" id="tier2" ng-click="nav2(foresighttemplates[2].url)"><h1>Tier 2</h1></div>
			<div class="tier-button" id="tier3" ng-click="nav2(foresighttemplates[3].url)"><h1>Tier 3</h1></div>
		<div class="tier-button" id="tier4" ng-click="nav2(foresighttemplates[4].url)"><h1>Tier 4</h1></div>
	</div>
<div class="page-content-right">
	<p>some stuff goes here</p>
</div>