<div class="page-content page-content-left">	
	<div class="tier-button" id="tier1" ng-click="nav(metaTemplates[1].url)"><h1>Tier 1</h1></div>
		<div class="tier-button" id="tier2" ng-click="nav(metaTemplates[2].url)"><h1>Tier 2</h1></div>
			<div class="tier-button" id="tier3" ng-click="nav(metaTemplates[3].url)"><h1>Tier 3</h1></div>
		<div class="tier-button" id="tier4" ng-click="nav(metaTemplates[4].url)"><h1>Tier 4</h1></div>
</div>
<div class="page-content page-content-right">
	<h2>Meta Data</h2>
		<div class="flexslider" id="slider">
			<ul class="slides">
				<li id="img1">
					<a href="https://www.vicioussyndicate.com/drr/matchup-chart-data-reaper-report/"><img alt="" src="../images/winratesvs.png"/></a>
				</li>
				<li id="img2">
					<a href="http://metastats.net/"><img alt="" src="../images/metastatsnet.png"/></a>
				</li>
			</ul>
		</div>
</div>