<div class="page-content-left">	
	<div class="tier-button" id="tier1" ng-click="nav(metaTemplates[1].url)"><h1>Tier 1</h1></div>
		<div class="tier-button" id="tier2" ng-click="nav(metaTemplates[2].url)"><h1>Tier 2</h1></div>
			<div class="tier-button" id="tier3" ng-click="nav(metaTemplates[3].url)"><h1>Tier 3</h1></div>
		<div class="tier-button" id="tier4" ng-click="nav(metaTemplates[4].url)"><h1>Tier 4</h1></div>
</div>
<div class="page-content-right">
	<h2>Top Three Classes</h2>
		<div class="flexslider" id="slider">
			<ul class="slides">
				<li id="img1">
					<img ng-click="nav(sliderTemplates[0].url)" alt="" src="../images/guldan-slider.jpg"/>
				</li>
				<li id="img2">
					<img ng-click="nav(sliderTemplates[1].url)" alt="" src="../images/uther-slider.jpg"/>
				</li>
				<li id="img3">
					<img ng-click="nav(sliderTemplates[2].url)" alt="" src="../images/jaina-slider.jpg"/>
				</li>
			</ul>
		</div>
</div>