<h1 class="header">Miracle Rogue</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[3].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[8]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Miracle Rogue has been around since the beginning of Hearthstone, and has had a few moments in the spotlight.  Currently the deck remains strong, but is typically played as a counter to local meta states.  If you find yourself facing a lot of Taunt Druid or Token Druid decks Miracle Rogue is the way to go.  The deck wins games through the draw engine card "Gadgetzan Auctioneer" and combo turns that gain tempo and board presence.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
								<li ng-click="nav(tierDecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierDecks[7].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>

						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[6].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
									<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Taunt Druid</li>
									<li ng-click="nav(tierDecks[11].url)" class="strong-list-deck"><span class="hunter-icon"></span>Control Priest</li>
									<li ng-click="nav(tierDecks[12].url)" class="strong-list-deck"><span class="jade-icon"></span>Shudderwock Shaman</li>

						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>