<h1 class="header">Aggro Druid</h1>
<h2 class="back-button" ng-click="nav(metatemplates[3].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Northshire Cleric<span class="quantity">2</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Cubelock is a powerful deck that combines the ability to wall the board with massive 3-9 taunts that spawn more taunts, and the ability to multiply doomguards that are played for free via the warlock weapon.  Although the deck has stronger and weaker matchups, it can take wins from any deck in the meta right now, especially with the loss of Raza Priest.  It is particularly strong vs aggro decks and slower control style decks.  The decks that usually beat this are other combo decks, and/or decks that can highroll and cheat out big plays.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[4].url)" class="weak-list-deck"><span class="mage-icon"></span>Tempo mage</li>
								<li ng-click="nav(tierdecks[8].url)" class="weak-list-deck"><span class="priest-icon"></span>Big Priest</li>
								<li ng-click="nav(tierdecks[6].url)" class="weak-list-deck"><span class="priest-icon"></span>Combo Priest</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
									<li ng-click="nav(tierdecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Control Warlock</li>
									<li ng-click="nav(tierdecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Zoolock</li>
									<li ng-click="nav(tierdecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Mid Range Hunter</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>