<h1 class="header">Odd Rogue</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[2].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[7]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Post nerf, if you are playing an aggro deck you are probably playing Odd Paladin or Odd Rogue.  This deck remains very strong, with the ability to close out games on turn 5 or 6 with the right draw.  The deck gets a ton of early game value through the upgraded 2 damage weapon thanks to Baku the Mooneater.  The deck plays like a more aggressive version of the old tempo rogue, and although it can close games quick with strong early minions and weapon buffs, it runs out of steam equally as quick.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Taunt Druid</li>
								<li ng-click="nav(tierDecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierDecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Token Druid</li>
								<li ng-click="nav(tierDecks[6].url)" class="strong-list-deck"><span class="jade-icon"></span>Cubelock</li>

						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[6].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
									<li ng-click="nav(tierDecks[14].url)" class="strong-list-deck"><span class="paladin-icon"></span>Spiteful Druid</li>
									<li ng-click="nav(tierDecks[15].url)" class="strong-list-deck"><span class="hunter-icon"></span>Tempo Mage</li>
									<li ng-click="nav(tierDecks[12].url)" class="strong-list-deck"><span class="hunter-icon"></span>Shudderwock Shaman</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>