<h1 class="header">Odd Paladin</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[2].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[4]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Odd paladin is another strong aggro deck brought on by the introduction of Odd and Even decks in the Witchwood Expansion.  Just like even paladin the deck seems to have endless disposable minions, along with endless buffs for those minions if they stick.  The ability to create two Silver Hand Knights with your hero power and losing to this deck feels exhausting.  The main strategy is to go wide on the board, and then use cards to boost the stats of your tokens, like Stormwind Champion or Fungalmancer.  This is a fast deck, and losing to it feels very unfair.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[6].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierDecks[5].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierDecks[2].url)" class="weak-list-deck"><span class="warlock-icon"></span>Token Druid</li>
								<li ng-click="nav(tierDecks[1].url)" class="weak-list-deck"><span class="warlock-icon"></span>Taunt Druid</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[15].url)" class="strong-list-deck"><span class="mage-icon"></span>Tempo Mage</li>
									<li ng-click="nav(tierDecks[8].url)" class="strong-list-deck"><span class="hunter-icon"></span>Miracle Rogue</li>
									<li ng-click="nav(tierDecks[14].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>