<h1 class="header">Razakus</h1>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li><span class="quantity">2</span>Northshire Cleric</li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Some stuff goes here</p>
					<div class="weak-against"></div>
						<div class="strong-against"></div>
					<div class="mulligan-guide"></div>
				</div>
			</div>