<h1 class="header">Odd Rogue</h1>
<h2 class="back-button" ng-click="nav(metatemplates[2].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksobject[6]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Odd Rogue is another powerful aggro deck brought on by the introduction of Baku the Mooneater which upgrades your hero power at the beginning of the game if your deck consists of only odd cost cards.  Many individuals have been able to reach top ladder positions grinding out this fast face deck, as the 2 damage 2 durability weapon from your hero power often gives just enough of a push for a quick win.  The key to this deck is knowing when to stop fighting for board, and often goes face over trading unless it has to.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierdecks[5].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierdecks[10].url)" class="weak-list-deck"><span class="warlock-icon"></span>Control Priest</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>
									<li ng-click="nav(tierdecks[8].url)" class="strong-list-deck"><span class="hunter-icon"></span>Quest Rogue</li>
									<li ng-click="nav(tierdecks[14].url)" class="strong-list-deck"><span class="hunter-icon"></span>Miracle Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>