<h1 class="header">Quest Rogue</h1>
<h2 class="back-button" ng-click="nav(metatemplates[3].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksobject[8]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Quest Rogue makes a comeback during the early Witchwood meta.  The deck has a higher skillcap than most would think, and thus the more experienced players are able to pilot the deck to high legend ranks.  This deck is punishing all of the top tier slower/combo decks around.  Obviously the rush decks like Paladin punish this archetype more often than not.  A lot of people are finding success running Vicious Scalehide, as it can provide an easy trade versus a small Paladin minion as well as that little bit of healing.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>
								<li ng-click="nav(tierdecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
								<li ng-click="nav(tierdecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
								<li ng-click="nav(tierdecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>

						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
									<li ng-click="nav(tierdecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Big Spell Mage</li>
									<li ng-click="nav(tierdecks[10].url)" class="strong-list-deck"><span class="hunter-icon"></span>Control Priest</li>
									<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>

						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>