<h1 class="header">Murloc Paladin</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[1].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[2]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Aggro Murloc Paladin was a strong deck before Witchwood, and it remains that way.  The deck loses a couple murlocs, one which seemed vital - Vilefin Inquisitor, however, it also gained a strong neutral minion - Nightmare Amalgam.  This new 3-4 minion is actually ALL different minion types into one, which makes it a flexible, solid body.  Murloc Paladin is all about snowballing a board state, and of course if you lose your board, refill options like CTA and lost in the jungle provide what seem to be endless minion waves.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierDecks[5].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierDecks[10].url)" class="weak-list-deck"><span class="warlock-icon"></span>Control Priest</li>
								<li ng-click="nav(tierDecks[9].url)" class="weak-list-deck"><span class="warlock-icon"></span>Taunt Druid</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[7].url)" class="strong-list-deck"><span class="mage-icon"></span>Tempo Mage</li>
									<li ng-click="nav(tierDecks[8].url)" class="strong-list-deck"><span class="hunter-icon"></span>Quest Rogue</li>
									<li ng-click="nav(tierDecks[3].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>
									<li ng-click="nav(tierDecks[14].url)" class="strong-list-deck"><span class="rogue-icon"></span>Miracle Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>