<h1 class="header">Dude Paladin</h1>
<h2 class="back-button" ng-click="nav(metatemplates[1].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li><span class="mana">1</span>Argent Squire<span class="quantity">2</span></li>
					<li><span class="mana">1</span>Lost in the Jungle<span class="quantity">2</span></li>
					<li><span class="mana">1</span>Righteous Protector<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Dire Wolf Alpha<span class="quantity">2</span></li>
					<li><span class="mana">2</span>Equality<span class="quantity">1</span></li>
					<li><span class="mana">3</span>Knife Juggler<span class="quantity">2</span></li>
					<li><span class="mana">3</span>Divine Favor<span class="quantity">2</span></li>
					<li><span class="mana">3</span>Rallying Blade<span class="quantity">2</span></li>
					<li><span class="mana">3</span>Steward of Darkshire<span class="quantity">2</span></li>
					<li><span class="mana">3</span>Unidentified Maul<span class="quantity">2</span></li>
					<li><span class="mana">4</span>Call To Arms<span class="quantity">2</span></li>
					<li><span class="mana">4</span>Lightfused Stegodon<span class="quantity">2</span></li>
					<li><span class="mana">5</span>Level Up!<span class="quantity">1</span></li>
					<li><span class="mana">5</span>Stand Against Darkness<span class="quantity">2</span></li>
					<li><span class="mana">6</span>Crystal Lion<span class="quantity">2</span></li>
					<li><span class="mana">6</span>Sunkeeper Tarim<span class="quantity">1</span></li>
					<li><span class="mana">7</span>Vinecleaver<span class="quantity">1</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Cubelock is a powerful deck that combines the ability to wall the board with massive 3-9 taunts that spawn more taunts, and the ability to multiply doomguards that are played for free via the warlock weapon.  Although the deck has stronger and weaker matchups, it can take wins from any deck in the meta right now, especially with the loss of Raza Priest.  It is particularly strong vs aggro decks and slower control style decks.  The decks that usually beat this are other combo decks, and/or decks that can highroll and cheat out big plays.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[3].url)" class="weak-list-deck"><span class="warlock-icon"></span>Control Warlock</li>
								<li ng-click="nav(tierdecks[8].url)" class="weak-list-deck"><span class="priest-icon"></span>Control Dragon Priest</li>
								<li ng-click="nav(tierdecks[6].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierdecks[6].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[4].url)" class="strong-list-deck"><span class="mage-icon"></span>Tempo Mage</li>
									<li ng-click="nav(tierdecks[5].url)" class="strong-list-deck"><span class="hunter-icon"></span>Spell Hunter</li>
									<li ng-click="nav(tierdecks[7].url)" class="strong-list-deck"><span class="jade-icon"></span>Jade Druid</li>
									<li ng-click="nav(tierdecks[11].url)" class="strong-list-deck"><span class="rogue-icon"></span>Miracle Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>