<h1 class="header">Spiteful Druid</h1>
<h2 class="back-button" ng-click="nav(metatemplates[1].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksobject[3]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Spiteful Summoner Druid has been around for quite some time now, and has always been a strong deck.  The results with the launch of Witchwood push this deck into tier 1.  The deck seems to have few weaknesses, but also few decks it steamrolls.  This seems to be a balancing act deck that can take wins from any deck type.  The ability to highroll spiteful summoner on 6 with a large 10 cost minion can win the game by itself.  Spiteful Druid feels like a mid range deck, one that likes to play on curve for the best results.  A lot of the slots are flexibe on the deck, but the core seems to have Prince Keleseth, Spiteful Summoner, Grand Archivist, and of course Ultimate Infestation.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
									<li ng-click="nav(tierdecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>
									<li ng-click="nav(tierdecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
									<li ng-click="nav(tierdecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
									<li ng-click="nav(tierdecks[5].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
									<li ng-click="nav(tierdecks[7].url)" class="strong-list-deck"><span class="mage-icon"></span>Tempo Mage</li>
									<li ng-click="nav(tierdecks[8].url)" class="strong-list-deck"><span class="hunter-icon"></span>Quest Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>