<h1 class="header">Rush Warrior</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[4].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[13]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Rush Warrior is a new archetype, and many that play it would think it would fare higher on this list.  This is definitely one of the new decks to keep on eye on, as more people play it and lists become more refined, especially if some of the more powerful control variants slow down.  This deck does a lot better than the other tempo decks on top of the meta versus the all-powerful paladin class, as the deck focuses on value trades to hold onto the board to snowball hero damage over the coming turns.  Without a doubt this is the strongest deck versus other "board" type decks, aggro, tempo and mid-range alike.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierDecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierDecks[10].url)" class="strong-list-deck"><span class="hunter-icon"></span>Control Priest</li>
								<li ng-click="nav(tierDecks[9].url)" class="strong-list-deck"><span class="hunter-icon"></span>Taunt Druid</li>
								<li ng-click="nav(tierDecks[12].url)" class="strong-list-deck"><span class="hunter-icon"></span>Odd Face Hunter</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>
									<li ng-click="nav(tierDecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
									<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierDecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>