<h1 class="header">Malygos Druid</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[3].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Featured Decklist: Firebat's Top 50</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[9]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Malygos Druid makes a comeback as a tier 3 deck with the post expansion nerfs.  Like Miracle Rogue, the deck works well depending on your local meta, punishing slower decks like Taunt Druid and Cubelock.  The deck is able to do a considerable amount of damage by playing twig of the world tree, and then comboing it with malygos and an entire refill of your mana.  The deck can burst down an opponent or easily destroy powerful threats with this combo.  Several decklists claiming to have hit rank 1 have been floating around.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="mage-icon"></span>Odd Paladin</li>
								<li ng-click="nav(tierDecks[7].url)" class="strong-list-deck"><span class="jade-icon"></span>Odd Rogue</li>
								<li ng-click="nav(tierDecks[10].url)" class="weak-list-deck"><span class="warlock-icon"></span>Even Shaman</li>
								<li ng-click="nav(tierDecks[15].url)" class="weak-list-deck"><span class="warlock-icon"></span>Tempo Mage</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Cubelock</li>
									<li ng-click="nav(tierDecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Big Spell Mage</li>
									<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Taunt Druid</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>