<h1 class="header">Cubelock</h1>
	<h2 class="back-button" ng-click="nav(metatemplates[1].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>

			<!-- create a function that can edit the decklist provided to have the mana and QTY on it, maybe a loop with adding HTML? -->
				<ul class="decklist">
					<li ng-repeat="x in decksobject[0]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button>Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Cubelock is a powerful deck that combines the ability to wall the board with massive 3-9 taunts that spawn more taunts, and the ability to multiply doomguards that are played for free via the warlock weapon.  Well the witchwood meta seems to be settling, and with the influx of paladin, Cubelock remains the top juggernaut all around deck choice for ladder.  Although the deck has stronger and weaker matchups, it can take wins from any deck in the meta right now.  With this deck and big spell mage showing dominance, decks like quest rogue have been seen feeding on the anti-paladin meta.  It is particularly strong vs aggro decks and slower control style decks.  The decks that usually beat this are other combo decks, and/or decks that can highroll and cheat out big plays (spiteful decks and quest rogue type decks).</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[7].url)" class="weak-list-deck"><span class="mage-icon"></span>Tempo mage</li>
								<li ng-click="nav(tierdecks[3].url)" class="weak-list-deck"><span class="priest-icon"></span>Spiteful Druid</li>
								<li ng-click="nav(tierdecks[8].url)" class="weak-list-deck"><span class="priest-icon"></span>Quest Rogue</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>
									<li ng-click="nav(tierdecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
									<li ng-click="nav(tierdecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>