<h1 class="header">Even Paladin</h1>
<h2 class="back-button" ng-click="nav(metatemplates[1].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksobject[1]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">With witchwood introducing new "even" and "odd" based decks, there is no doubt about it, even paladin is the best of the various even and odd decks.  Even paladin seems to have endless disposable minions, along with endless buffs for those minions should they stick on the board.  The deck feels curvy most of the time, considering Genn Greymane makes your hero power cost 1 at the start of the game.  This is a close second in power to only cubelock, and losing to this deck feels exhausting.  The main strategy is to go wide on the board, with several easy refills in the form of call to arms and jailor, and then buff your board with one of the many buff cards the deck boasts.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierdecks[5].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierdecks[10].url)" class="weak-list-deck"><span class="warlock-icon"></span>Control Priest</li>
								<li ng-click="nav(tierdecks[9].url)" class="weak-list-deck"><span class="warlock-icon"></span>Taunt Druid</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[7].url)" class="strong-list-deck"><span class="mage-icon"></span>Tempo Mage</li>
									<li ng-click="nav(tierdecks[8].url)" class="strong-list-deck"><span class="hunter-icon"></span>Quest Rogue</li>
									<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>
									<li ng-click="nav(tierdecks[14].url)" class="strong-list-deck"><span class="rogue-icon"></span>Miracle Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>