<h1 class="header">Taunt Druid</h1>
<h2 class="back-button" ng-click="nav(metatemplates[3].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksobject[9]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Taunt Druid makes a comeback with Witchwood and makes Hadronox a relevant juggernaut.  One of the reasons for this is the introduction of Witching Hour, which summons a random beast that died this game, this makes the deck get a ton of value with multiple taunt armies reviving over and over again.  To further this strategy, the deck boasts a ton of armor gain and the infamous Carnivorous Cube for even more value with Hadronox.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[7].url)" class="strong-list-deck"><span class="mage-icon"></span>Tempo Mage</li>
								<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>
								<li ng-click="nav(tierdecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>
									<li ng-click="nav(tierdecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
									<li ng-click="nav(tierdecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierdecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
									<li ng-click="nav(tierdecks[12].url)" class="strong-list-deck"><span class="hunter-icon"></span>Odd Face Hunter</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>