<h1 class="header">Tempo Rogue</h1>
<h2 class="back-button" ng-click="nav(metatemplates[4].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksobject[15]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Tempo Keleseth Rogue rounds out the bottom of the competitive tier list.  It takes the last spot as it still has a really solid gameplan, unfortunately it just doesnt do the same thing the other top tempo/midrange decks are doing.  It also has worse matchups versus the top tier control decks than the other tempo/midrange decks do.  Basically if you are playing a midrangey tempo deck you want to stick to something around spiteful summoner or mage.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierdecks[5].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierdecks[10].url)" class="weak-list-deck"><span class="warlock-icon"></span>Control Priest</li>
								<li ng-click="nav(tierdecks[9].url)" class="weak-list-deck"><span class="warlock-icon"></span>Taunt Druid</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[14].url)" class="strong-list-deck"><span class="hunter-icon"></span>Miracle Rogue</li>
									<li ng-click="nav(tierdecks[8].url)" class="strong-list-deck"><span class="hunter-icon"></span>Quest Rogue</li>
									<li ng-click="nav(tierdecks[11].url)" class="strong-list-deck"><span class="hunter-icon"></span>Mid Range Shaman</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>