<h1 class="header">Shudderwock Shaman</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[4].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[12]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Shudderwock Shaman is a combo deck introduced in the Witchwood expansion that makes use of multiple battlecries played throughout the game for a powerful combo turn with Shudderwock.  The combo is capable of OTKing your opponent, but typically it takes multiple turns (which is easy to do once complete since every time you play Shudderwock, you heal, do damage to the opponent and add more 1 cost Shudderwocks to your hand.  This deck is very fun, and can be strong based on your local meta, but should be played by only the most experienced players for ladder climbing.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[6].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
								<li ng-click="nav(tierDecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Token Druid</li>
								<li ng-click="nav(tierDecks[7].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
								<li ng-click="nav(tierDecks[0].url)" class="strong-list-deck"><span class="paladin-icon"></span>Spell Hunter</li>
								<li ng-click="nav(tierDecks[14].url)" class="strong-list-deck"><span class="paladin-icon"></span>Spiteful Druid</li>
								
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="mage-icon"></span>Taunt Druid</li>
									<li ng-click="nav(tierDecks[11].url)" class="strong-list-deck"><span class="hunter-icon"></span>Control Priest</li>
									<li ng-click="nav(tierDecks[5].url)" class="strong-list-deck"><span class="hunter-icon"></span>Big Spell Mage</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>