<h1 class="header">Mid Range Shaman</h1>
<h2 class="back-button" ng-click="nav(metatemplates[3].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksobject[11]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Mid Range Shaman is a long standing deck that hasn't seen much success for a long time.  Some recent builds, noteably one by the player GingaNinja have been gaining interest.  GingaNinja entered the top 50 with his Keleseth Shudderwock variant.  The deck is similar to other mid-range decks, fighting for the board early, eventually snowballing into an overwhelming board state for your opponent to deal with.  Shudderwock can make for some very interesting games with the various battlecries throughout the deck.  If the board is lost, Shaman now has even more tools to re-take the upper hand in the form of Hagatha and the original Kalimos/Lightning Storm removal.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierdecks[9].url)" class="strong-list-deck"><span class="hunter-icon"></span>Taunt Druid</li>
								<li ng-click="nav(tierdecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Big Spell Mage</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>
									<li ng-click="nav(tierdecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
									<li ng-click="nav(tierdecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierdecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
									<li ng-click="nav(tierdecks[12].url)" class="strong-list-deck"><span class="hunter-icon"></span>Odd Face Hunter</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>