<h1 class="header">Even Shaman</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[3].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Featured Decklist: Meati's 21 Legend</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[10]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Even Shaman joins the spotlight post Even Paladin nerf.  The deck was being tested with the release of the even and odd deck types, but never made a huge impact on the meta with the Even Paladins running around everywhere.  Several top 100 lists are around the interweb and this deck should show some promising results as the meta continues to refine.  The deck makes strong tempo swings with the use of a 1 cost hero power, elemental cards, and the deathknight Hagatha the Witch</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[6].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="hunter-icon"></span>Taunt Druid</li>
								<li ng-click="nav(tierDecks[5].url)" class="strong-list-deck"><span class="hunter-icon"></span>Big Spell Mage</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[7].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
									<li ng-click="nav(tierDecks[8].url)" class="strong-list-deck"><span class="paladin-icon"></span>Miracle Rogue</li>
									<li ng-click="nav(tierDecks[15].url)" class="strong-list-deck"><span class="jade-icon"></span>Tempo Mage</li>
									<li ng-click="nav(tierDecks[9].url)" class="strong-list-deck"><span class="paladin-icon"></span>Malygos Druid</li>
									<li ng-click="nav(tierDecks[14].url)" class="strong-list-deck"><span class="paladin-icon"></span>Spiteful Druid</li>

						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>