<h1 class="header">Big Spell Mage</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[2].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[5]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Big Spell Mage remains in tier 2, but may wind up taking a spot in tier 1 before we know it.  This deck uses powerful board clears and sustain cards like Frost Lich Jaina to defeat it's opponents through attrition.  The deck is also capable of winning by playing minions on curve, or with powerful tempo swings through Alexstraza and Dragoncaller Alaina.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[15].url)" class="weak-list-deck"><span class="mage-icon"></span>Tempo mage</li>
								<li ng-click="nav(tierDecks[8].url)" class="strong-list-deck"><span class="jade-icon"></span>Miracle Rogue</li>
								<li ng-click="nav(tierDecks[12].url)" class="strong-list-deck"><span class="jade-icon"></span>Shudderwock Shaman</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierDecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Cubelock</li>
									<li ng-click="nav(tierDecks[10].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Shaman</li>
									<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Taunt Druid</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>