<h1 class="header">Odd Face Hunter</h1>
<h2 class="back-button" ng-click="nav(metatemplates[4].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksobject[12]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Odd face Hunter is the new rush them down Hunter build.  Originally this deck appeared to be meta-breaking, but once the meta started settling and decks became more refined it started to fall off a bit.  It's still a strong contender, but often falls short versus the decks in the first two tiers.  It is a deck that seems to either blow someone out of the water quickly or just struggle the entire game.  The deck lacks draw and refill, so in theory Paladin and rogue just do it better.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierdecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>
								<li ng-click="nav(tierdecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
								<li ng-click="nav(tierdecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
								<li ng-click="nav(tierdecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierdecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
								<li ng-click="nav(tierdecks[9].url)" class="strong-list-deck"><span class="hunter-icon"></span>Taunt Druid</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[7].url)" class="strong-list-deck"><span class="mage-icon"></span>Tempo Mage</li>
									<li ng-click="nav(tierdecks[8].url)" class="strong-list-deck"><span class="hunter-icon"></span>Quest Rogue</li>
									<li ng-click="nav(tierdecks[13].url)" class="strong-list-deck"><span class="hunter-icon"></span>Rush Warrior</li>
									<li ng-click="nav(tierdecks[14].url)" class="strong-list-deck"><span class="hunter-icon"></span>Miracle Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>