<h1 class="header">Spell Hunter</h1>
	<h2 class="back-button" ng-click="nav(metaTemplates[1].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Featured Deck: Noblord</h3>

			<!-- create a function that can edit the decklist provided to have the mana and QTY on it, maybe a loop with adding HTML? -->
				<ul class="decklist">
					<li ng-repeat="x in decksObject[0]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Well, its back in full force.  Sitting at the top of the meta charts one week into the major nerfs that hit post expansion, Spell hunter is really smashing the meta game.  It was thought that after Barnes had rotated, this deck wouldn't see much play anymore.  With Paladins and Cubelocks thinning out post nerf, this deck sees a lot more success.  The deck struggles against Taunt Druid, but has more favored matchups than it.  Spell hunter relies on gaining tempo through powerful secrets and board filling spells like Emerald Spellstone.  If it runs out of cards, the deck simply refills your hand with the legendary weapon, and deathknight cards.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[5].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierDecks[11].url)" class="weak-list-deck"><span class="priest-icon"></span>Control Priest</li>
								<li ng-click="nav(tierDecks[1].url)" class="weak-list-deck"><span class="priest-icon"></span>Taunt Druid</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierDecks[10].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Shaman</li>
									<li ng-click="nav(tierDecks[8].url)" class="strong-list-deck"><span class="paladin-icon"></span>Miracle Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>