<h1 class="header">Miracle Rogue</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[4].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[14]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Miracle Rogue is a deck that has been around since the beginning of competitive Hearthstone.  The deck focuses on cycling through as many cards as possible with the cliche card Gadgetzan Auctioneer.  This deck is seeing some mixed success, so it sees the bottom of the tier list here.  Unfortunately it doesnt have many good matchups versus decks in the first two tiers, hence why it is so low, but it does do well against control Priest, and Cubelock.  It also has decent matchups versus other combo decks, so it is worth a try.  Maybe as the meta adapts there will be times where this deck will rise higher on the list, but for now its just a deck to watch.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
									<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>
									<li ng-click="nav(tierDecks[2].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
									<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierDecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
									<li ng-click="nav(tierDecks[12].url)" class="strong-list-deck"><span class="hunter-icon"></span>Odd Face Hunter</li>
									<li ng-click="nav(tierDecks[3].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[0].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
									<li ng-click="nav(tierDecks[9].url)" class="strong-list-deck"><span class="hunter-icon"></span>Taunt Druid</li>
									<li ng-click="nav(tierDecks[10].url)" class="strong-list-deck"><span class="hunter-icon"></span>Control Priest</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>