<h1 class="header">Control Warlock</h1>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li><span class="quantity">2</span>Northshire Cleric</li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Some stuff goes here</p>
					<div class="weak-against"><h3>Weak Against</h3></div>
						<div class="strong-against"><h3>Strong against</h3></div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>