<h1 class="header">Big Spell Mage</h1>
<h2 class="back-button" ng-click="nav(metatemplates[2].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksobject[5]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				
				</ul>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">With the rise of Paladins, and thus the rise of Cubelock oriented decks, Big Spell Mage earns a high position in the meta rankings, as it has good matchups against most other upper tier decks.  It is not quite as consistent as Cubelock against Paladin, but it still has a good shot with lots of healing, removal, and draw.  It will be interesting to see how the meta shapes up and the various lists become more fine tuned.  One fun card that has been giving players the ability to high roll is Bright Eyed Scout, as many of the cards inside the deck are 5 cost or more.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierdecks[7].url)" class="weak-list-deck"><span class="mage-icon"></span>Tempo mage</li>
								<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierdecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Even Paladin</li>
									<li ng-click="nav(tierdecks[4].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierdecks[3].url)" class="strong-list-deck"><span class="paladin-icon"></span>Murloc Paladin</li>
									<li ng-click="nav(tierdecks[6].url)" class="strong-list-deck"><span class="paladin-icon"></span>Odd Rogue</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>