<h1 class="header">Even Warlock</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[1].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Featured Decklist: Monsanto Legend 1</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[3]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Even Warlock joins tier 1 as a new meta deck since the post expansion nerf.  The deck uses a 1 cost hero power with all even cards thanks to Gen Greymane.  This makes the deck feel almost "rampy" as you get to always draw a card on turn 1.  Evenlock feels similar to an old school handlock build, collecting cards and then playing powerful threats that gain tempo off of card holding synergy like Mountain Giant.  The deck feels like it has few weaknesses and a lot of strengths in the current meta.  The featured list was created by Hearthstone Pro - Monsanto and hit rank 1 legend shortly after the nerf took place.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
									<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="paladin-icon"></span>Taunt Druid</li>
									<li ng-click="nav(tierDecks[5].url)" class="strong-list-deck"><span class="paladin-icon"></span>Big Spell Mage</li>
								
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[10].url)" class="weak-list-deck"><span class="warlock-icon"></span>Even Shaman</li>
									<li ng-click="nav(tierDecks[6].url)" class="weak-list-deck"><span class="mage-icon"></span>Cubelock</li>
									<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="mage-icon"></span>Odd Paladin</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>