<h1 class="header">Cubelock</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[2].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[6]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Cubelock has been pushed down to tier 2.  It appears the nerfs have successfully dethroned the juggernaut deck that has been terrorizing the meta for months now.  With dark pact healing for 4 and possessed lackey costing 6 mana, Cubelock has far less room for error.  Being that its combos are so powerful, and it packs a lot of easy board clear tools, it still remains a competitive deck to beat.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[15].url)" class="weak-list-deck"><span class="warlock-icon"></span>Tempo Mage</li>
								<li ng-click="nav(tierDecks[5].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierDecks[7].url)" class="weak-list-deck"><span class="warlock-icon"></span>Odd Rogue</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="jade-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierDecks[10].url)" class="strong-list-deck"><span class="hunter-icon"></span>Even Shaman</li>
									<li ng-click="nav(tierDecks[1].url)" class="strong-list-deck"><span class="hunter-icon"></span>Taunt Druid</li>
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>