<h1 class="header">Token Druid</h1>
<h2 class="back-button" ng-click="nav(metaTemplates[1].url)">Back</h2>
	<div class="page-content-right">
			<h3 class="header">Standard Decklist</h3>
				<ul class="decklist">
					<li ng-repeat="x in decksObject[2]"><span class="mana">{{x.cost}}</span>{{x.name}}<span class="quantity">{{x.quantity}}</span></li>
				</ul>
					<button ng-click="deckCodeCopy();">Copy Deck Code</button>
		</div>
	<div class="page-content-left">
		<div class="standard-decklist">
			<h3 class="header">About</h3>
				<p class="deck-overview">Token Druid is a deck that has been around since the beginning of Hearthstone, and has entered and left the competitive meta multiple times.  Witchwood introduced Wispering Woods as a new tool to easily flood the board.  The goal of the deck is to ramp, and combo out multiple wide boards that can stick with tools like Soul of the Forest.  Once a player has gained a strong enough foothold on the board they use finishers like branching paths and savage roar for a large burst to the dome.  It seems this new card gave token druid just what it needed to rise in power.</p>
					<div class="weak-against">
						<h3>Weak Against</h3>
							<ul class="weak-list">
								<li ng-click="nav(tierDecks[6].url)" class="weak-list-deck"><span class="warlock-icon"></span>Cubelock</li>
								<li ng-click="nav(tierDecks[5].url)" class="weak-list-deck"><span class="mage-icon"></span>Big Spell Mage</li>
								<li ng-click="nav(tierDecks[1].url)" class="weak-list-deck"><span class="warlock-icon"></span>Taunt Druid</li>
						</ul>
					</div>
						<div class="strong-against">
							<h3>Strong against</h3>
								<ul class="strong-list">
									<li ng-click="nav(tierDecks[15].url)" class="strong-list-deck"><span class="mage-icon"></span>Tempo Mage</li>
									<li ng-click="nav(tierDecks[4].url)" class="strong-list-deck"><span class="hunter-icon"></span>Odd Paladin</li>
									<li ng-click="nav(tierDecks[14].url)" class="strong-list-deck"><span class="jade-icon"></span>Spiteful Druid</li>
									<li ng-click="nav(tierDecks[10].url)" class="strong-list-deck"><span class="jade-icon"></span>Even Shaman</li>
									
						</div>
					<div class="mulligan-guide"><h3>Mulligan Guide</h3></div>
				</div>
			</div>